body {
	background-color: #F1FAEE;
	margin: 0;
	font-family: avenir;
}

.bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#457B9D;
}

.navBar{
	display: block;
	color: white;
	text-align: center;
	font-size: 25px;
	padding: 14px 16px;
	text-decoration: none;
}

.navBar:hover{
	background-color: #A8DADC;
	text-decoration: underline;	
}

.homeImg {
	position: relative;
	width: 100vw;
	height: 95vh;
	background-image: url(electricity.jpg);
	background-size: 100% 100%;
}

.chooseImg {
	position: relative;
	width: 100vw;
	height: 95vh;
	background-image: url(choice.png);
	background-size: 100% 100%;
}

.historyImg {
	position: relative;
	width: 100vw;
	height: 95vh;
	background-image: url(history.jpg);
	background-size: 100% 100%;
}

.intro {
	color: white;
	font-size: 18px;
	margin-left: 12px;
}

.downarrow {
	position:absolute;
	border: solid white;
	border-width: 0 10px 10px 0;
	display: inline-block;
	padding: 20px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	bottom: 50px;
	left: 49%;
	opacity: 75%;
}

.downarrow:hover {
	position:absolute;
	border: solid white;
	border-width: 0 12px 12px 0;
	display: inline-block;
	padding: 25px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	bottom: 40px;
	left: 49%;
	opacity: 90%;
}

li{
	float: left;
}

.title{
	font-size:69px;
	text-align: center;
    color: #1D3557;
}

h2{
	margin-left: 150px;
    font-size: 40px;
    color: #1D3557;
}

h3{
	margin-left: 150px;
    font-size: 30px;
    color: #1D3557;

}

p{
    margin-left: 150px;
    margin-right: 110px;
    font-size: 18px;
    color: #1D3557;
}

#psuimage{
	margin: 10px;
	float: left;
	width: 200px;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-style: solid;
	border-color: #A8DADC;
}

.caption{
	color: #1D3557;
	font-size: 15px;
}

table{
	margin-left: 75px;
	margin-right: 110px;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
	text-align: left;
	vertical-align: top;
}
